@import 'tailwindcss';

@theme {
	--color-brand-50: #edf5ff;
	--color-brand-100: #dfecff;
	--color-brand-200: #c5dbff;
	--color-brand-300: #a2c3ff;
	--color-brand-400: #7da0fc;
	--color-brand-500: #4c6ef5;
	--color-brand-600: #4055eb;
	--color-brand-700: #3343cf;
	--color-brand-800: #2c3ba7;
	--color-brand-900: #2b3884;
	--color-brand-950: #191e4d;
}

@layer base {
	body {
		@apply bg-slate-950 text-slate-50 antialiased;
	}

	::selection {
		@apply bg-brand-500/30 text-brand-100;
	}
}
